<!DOCTYPE html>
<html>
  <head>
    <h1>ToraiRoom</h1>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar">
        <h1 class="fnt-1"><a href="/">ToraiRoom</a></h1>
        <% if user_signed_in? %>
          <div class="user_nav fnt-1">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            <%= link_to "NEWS", "#", class: "btn" %>
            <%= link_to "GALLERY", "#" , class: "btn" %>
          </div>
        <% else %>
          <div class="fnt-1">
            <%= link_to "ログイン", new_user_session_path, class: "btn" %>
            <%= link_to "新規登録", new_user_registration_path, class: "btn" %>
          </div>
        <% end %>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <p>
        Copyright  TORAIROOM  2021.
      </p>
    </footer>
  </body>
</html>
